<template name="list">
    <button class="addBranch">
        Add New Branch
    </button>
    <p>
        <span>startDate</span>
        <span>name</span>
        <span>teams
        </span>
        <span>sprint</span>
        <span>status</span>
    </p>
    {{#each branches}}
        {{> branchListView}}
    {{/each}}
</template>

<template name="branchListView">
    <p>
        <span>{{startDate}}</span>
        <span>{{name}}</span>
        <span>
        {{#each teams}}
            {{name}}
        {{/each}}
        </span>
        <span>{{sprint}}</span>
        <span>{{status}}</span>
    </p>
</template>