<template name="list">
    <div class="col-md-12" id="branchOptions">
        <button class="addBranch btn btn-success">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Branch
        </button>

        <label for="filterBranches" class="filterBranchesLabel">
            Filter Branches:
            <select name="filterBranches" id="filterBranches" multiple>
                <option value="created" selected>Created</option>
                <option value="inProgress" selected>In Progress</option>
                <option value="readyForReview" selected>Ready for Review</option>
                <option value="inReview" selected>In Review</option>
                <option value="prepareForMaster" selected>Prepare for Master</option>
                <option value="readyForMaster" selected>Ready for Master</option>
                <option value="mergedToMaster" selected>Merged to Master</option>
                <option value="deployed">Deployed</option>
                <option value="deprecated">Deprecated</option>
            </select>
        </label>

        <label for="sortBranches" class="sortBranchesLabel">
            Sort Branches:
            <div class="btn-group">
                <select name="sortBranches" id="sortBranches">
                    <option value="status">Status</option>
                    <option value="name">Name</option>
                    <option value="team">Team</option>
                    <option value="sprints">Sprint</option>
                    <option value="createdOn" selected>Date Created</option>
                </select>
                <select name="sortDirection" id="sortDirection">
                    <option value="-1" selected>Ascending</option>
                    <option value="1">Descending</option>
                </select>
            </div>
        </label>
    </div>

    <div class="row branchList">
        <div class="col-md-12">
            {{#if branches.count}}
                {{#each branches}}
                    {{> listRow}}
                {{/each}}
            {{else}}
                <div class="well text-center">
                    <h1>Oh no! You have no branches :(</h1>
                </div>
            {{/if}}
        </div>
    </div>
</template>
