<template name="list">
    <button class="addBranch btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Branch
    </button>
    <hr>
    <div class="row">
        <div class="col-md-12">
            {{#if branches}}
                {{#each branches}}
                    {{> listRow}}
                {{/each}}
            {{else}}
                {{> noBranchMessage}}
            {{/if}}
        </div>
    </div>
    <br>
   
</template>

<template name="noBranchMessage">
    <div class="well text-center">
        <h1>Oh no! You have no branches</h1>
    </div>
</template>